
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Body start */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
/* Body end */

/* ------------------------------------------------------------- */

/* Navigatie start */
nav {
    background-color: rgb(19, 19, 36);
    height: 10vh;
    padding: 20px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;;
}

nav li {
    float: right;
}

nav li a {
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 1.4em;
}

nav li a:hover {
    color: rgb(23, 178, 255);
    transition: all 0.2s ease;
}

#navbar_logo {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}
/* Navigatie end */

/* ------------------------------------------------------------- */

/* Homepage start (begin van de Homepage content)*/
/* Main start */
main {
    height: 90vh;
    background-color: rgb(19, 19, 36);
    text-align: center;
}

main h1 {
    color: rgb(52, 159, 252);
    padding-top: 200px;
    font-size: 285px;
    opacity: 40%;
}

main p {
    color: rgb(0, 90, 208);
    font-size: 30px;
}
/* Main end */

/* Decription start */
.description {
    height: 160vh;
    background-color: white;
}
.description_container {
    display: flex;
    padding-top: 8em;
    column-gap: 6em;
    justify-content: center;    
}

.description p {
    font-size: 3em;
    color: rgb(26, 72, 133);
    padding-top: 1.5em;
    text-align: center;
}

.description_container p {
    font-size: 3em;
    color: rgb(26, 72, 133);
    padding-top: 3.3em;
    text-align: center;
}

.description_1 {
    height: 30em;
    width: 40em;
    background-color: white;
    border: 0.3em solid rgb(52, 159, 252);
    border-radius: 0.5em;
    transition: all 0.3s ease;
}

.description_2 {
    height: 30em;
    width: 40em;
    background-color: white;
    border: 0.3em solid rgb(52, 159, 252);
    border-radius: 0.5em;
    transition: all 0.3s ease;
}

.description_3 {
    height: 30em;
    width: 40em;
    background-color: white;
    border: 0.3em solid rgb(52, 159, 252);
    border-radius: 0.5em;
    transition: all 0.3s ease;
}

.description_1:hover {
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.description_2:hover {
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.description_3:hover {
    transform: scale(1.02);
    transition: all 0.3s ease;
}

/* Photo CSS */
.container_photo {
    display: flex;
}

.container_photo img {
    height: 58em;
    width: 80em;
    margin: 0 auto;
    padding-top: 10em;
}
/* Description end */
/* Homepage end (einde van de Homepage content)*/

/* ------------------------------------------------------------- */

/* About Us page start (start van de Over Ons content) */
/* Over ons start */
.about_us {
    height: 100vh;
    column-gap: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_us_photo img {
    height: 50em;
    width: auto;
    border-radius: 1em;
}

.about_us_photo img:hover {
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.about_us_container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
    height: 50em;
    width: 52em;
    border: 0.3em solid rgb(52, 159, 252);
    border-radius: 1em;
    
}

.about_us h2 {
    font-size: 4em;
    color: rgb(52, 159, 252);
    padding: 1em 0;
}

.about_us p {
    color: rgb(19, 19, 36);
    font-size: 1.7em;
    width: 30em;
    padding-bottom: 2em;
}
/* Over ons end */
/* About Us page end (einde van de Over Ons content) */

/* ------------------------------------------------------------- */

/* Contact page start (start van de contact info) */
/* Info start */
.info {
    height: 110vh;
    background-color: rgb(29, 29, 54);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_container {
    height: 80vh;
    width: 150vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0;
    border-radius: 1em;
}

.info_container h2 {
    font-size: 5em;
    padding-bottom: 1.2em;
    color: rgb(52, 159, 252);
}

.info_container p {
    font-size: 2.5em;
    color: rgb(19, 19, 36);
}
/* Info end */
/* Contact page end (einde van de contact info) */

/* ------------------------------------------------------------- */

/* Footer start */
footer {
    height: 17vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 19, 36);
    align-items: center;
}

footer p {
    color: rgb(1, 185, 210);
    font-size: 1.5em;
}

footer h3 {
    color: white;
    font-size: 3.5em;
    padding: 0.6em 1em;
    padding-bottom: 0.3em;
}
/* Footer end */
