
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Body start */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/* Body end */



/* Nav start */
nav {
    background-color: rgb(19, 19, 36);
    height: 10vh;
    padding: 20px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;;
}

nav li {
    float: right;
}

nav li a {
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav li a:hover {
    color: rgb(23, 178, 255);
    transition: all 0.2s ease;
}

#navbar_logo {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}
/* Nav end */



/* Homepage start (het begin van de Homepage content)*/

/* Main start */
main {
    height: 90vh;
    background-color: rgb(19, 19, 36);
    text-align: center;
}

main h1 {
    color: rgb(52, 159, 252);
    padding-top: 200px;
    font-size: 285px;
    opacity: 40%;
}

main p {
    color: rgb(0, 90, 208);
    font-size: 30px;
}
/* Main end */



/* Decription start */
.description {
    height: 100vh;
    background-color: white;
}
.description_container {
    display: flex;
    padding-top: 100px;
    column-gap: 60px;
    justify-content: center;    
}

.description p {
    font-size: 3em;
    color: rgb(19, 19, 36);
    padding-top: 80px;
    text-align: center;
}

.description_container p {
    font-size: 3em;
    color: rgb(19, 19, 36);
    padding-top: 160px;
    text-align: center;
}

.description_1 {
    height: 480px;
    width: 700px;
    background-color: white;
    border: 3px solid rgb(19, 19, 36);
    border-radius: 30px;
    transition: all 0.3s ease;
}

.description_2 {
    height: 480px;
    width: 700px;
    background-color: white;
    border: 3px solid rgb(19, 19, 36);
    border-radius: 30px;
    transition: all 0.3s ease;
}

.description_3 {
    height: 480px;
    width: 700px;
    background-color: white;
    border: 3px solid rgb(19, 19, 36);
    border-radius: 30px;
    transition: all 0.3s ease;
}

.description_1:hover {
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.description_2:hover {
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.description_3:hover {
    transform: scale(1.02);
    transition: all 0.3s ease;
}

/* Description end */

/* Homepage end (het einde van de Homepage content)*/



/* Footer start */
footer {
    height: 20vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 19, 36);
    align-items: center;
}

footer p {
    color: rgb(1, 185, 210);
}

footer h3 {
    color: white;
    font-size: 40px;
    padding: 30px 10px;
    padding-bottom: 20px;
}
/* Footer end */
